In [ ]:
print("Hello World")   #Basic universal example

Hello World

In [ ]:
"hello"

'hello'

In [ ]:
120/12*4-4

36.0

In [ ]:
#Assingning value to variable
marks=80
marks

80

In [ ]:
#To check datatype of variable
type(marks)

int

In [ ]:
5**2

25

In [ ]:
price=50.5
price   #It shown only output of last line
type(price)

float

In [ ]:
price=50.5
print(price)   #To show all the outputs use print function
type(price)

50.5

float

In [ ]:
name="Rio"
type(name)

str

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1='Welcome to Data Science'
str1.capitalize()

'Welcome to data science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.title()

'Welcome To Data Science'

In [ ]:
food='BriYaNI'
name='GAneSH'
print(food.swapcase())
name.swapcase()

bRIyAni

'gaNEsh'

In [ ]:
s1='My name is Ganesh'
print(s1.split())

['My', 'name', 'is', 'Ganesh']

In [ ]:
s2='Mumbai-Pune-Mumbai'
s2.split('-')

['Mumbai', 'Pune', 'Mumbai']

In [ ]:
mail='ganeshbore@gmail.com'
mail.split('@')

['ganeshbore', 'gmail.com']

In [ ]:
s1='My name is Rio'
s1.replace('Rio','Helsinki')

'My name is Helsinki'

In [ ]:
#single line comment
''' multilime command '''

In [ ]:
city="Ahmadnagar"
city.count('A')

1

In [ ]:
'Ahmadnagar'.count('a')

3

In [ ]:
name='Raj'
name*4

'RajRajRajRaj'

In [ ]:
n1=5
n1*5

25

In [ ]:
name='Pranav'
surname='Kolekar'
name+' '+surname

'Pranav Kolekar'

In [ ]:
#Conditional Statements
a=30
b=20
if(a>b):
  print("a is greater")
else:
  print("b is greater")

a is greater

In [ ]:
a=30
b=20
if(a>b):
  print("a is greater")
  print("In TRUE block")
  c=a*b
  print(c)
else:
  print("b is greater")
  print("In FALSE block")

a is greater
In TRUE block
600

In [ ]:
a=int(input('Enter first number :'))  # To take the input from user
b=int(input("Enter second number :"))
if(a>b):
  print(a, " is greater")
else:
  print(b, " is greater")            #To show the number in output

Enter first number :20
Enter second number :30
30  is greater

In [ ]:
salary=int(input("Enter your salary : "))
if (salary>20000):
  tax=0.25
  print("You are eligible for",tax,"%tax")
  net_sal=salary-tax*salary
  print("Your net salary is",net_sal)
else:
  tax=0.20
  print("You are eligible for",tax,"%tax")
  net_sal=salary-tax*salary
  print("Your net salary is",net_sal)
print("Thank you for using my program!")

Enter your salary : 15000
You are eligible for 0.2 %tax
Your net salary is 12000.0
Thank you for using my program!

In [ ]:
range(1,10)

range(1, 10)

In [ ]:
#For Loop
for number in range(2,10,2):
  print(number)
  print("Bye")

2
Bye
4
Bye
6
Bye
8
Bye

In [ ]:
#To print odd numbers from 1 to 20
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#To print even numbers from 1 to 20
for i in range (2,21,2):   #range(start value, end value, increment)
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(2,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,21):
  if (i%2!=0):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
print("Even numbers are:")
for i in range(1,21):
  if i%2==0:
    print(i)

print("Odd numbers are:")
for i in range(1,21):
  if (i%2!=0):
    print(i)

Even numbers are:
2
4
6
8
10
12
14
16
18
20
Odd numbers are:
1
3
5
7
9
11
13
15
17
19

In [ ]:
#To print the number and it's square
for i in range(1,11):
  print(i,i*i)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
subject="Science"
for letter in subject:
  print(letter)

S
c
i
e
n
c
e

In [ ]:
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [ ]:
for i in range(6,0,-1):
  print("*"*i)

******
*****
****
***
**
*

In [ ]:
movie="Drishyam"
for letter in movie:
  print(letter.swapcase(),end=" ")

d R I S H Y A M

In [ ]:
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [ ]:
len("My Name")

7

In [ ]:
#Data Strucures in Py
#1. List - Mutable, ordered, allows duplicates
#created using []
marks=[40,50,60,70,80,90]
marks

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
type(marks)

list

In [ ]:
len(marks)

6

In [ ]:
sorted_marks=sorted(marks)
sorted_marks

[40, 50, 60, 70, 80, 90]

In [ ]:
marks.append(35)

In [ ]:
marks.reverse()
marks

[35, 90, 80, 70, 60, 50, 40]

In [ ]:
marks2=[20,35,40,55,67,98]

In [ ]:
marks2.sort(reverse=True)
marks2

[98, 67, 55, 40, 35, 20]

In [ ]:
40 in marks2

True

In [ ]:
60 in marks2

False

In [ ]:
list1=[20,50,64]
list2=[80,75,62]

In [ ]:
list1+list2  #To concatenate 2 lists

[20, 50, 64, 80, 75, 62]

In [ ]:
(list1+list2)*3

[20, 50, 64, 80, 75, 62, 20, 50, 64, 80, 75, 62, 20, 50, 64, 80, 75, 62]

In [ ]:
#List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
for fruit in list3:
  print(fruit.upper(),end=" ")  #To show all names in capital

MANGO APPLE BANANA PINEAPPLE CUSTARD APPLE STRAWBERRY

In [ ]:
for fruit in list3:
  print(fruit.replace("a","u"),end=" ")

Mungo Apple Bununu Pineupple Custurd Apple Struwberry

In [ ]:
list3.count("Banana")

1

In [ ]:
list3[3]

'Pineapple'

In [ ]:
list3[6]  #Gives u error as u have only 0 to 5 index values

In [ ]:
#Slicing
list3[0:3]

['Mango', 'Apple', 'Banana']

In [ ]:
list3[1:]  #From 1 index no. to all values

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[:4]  #from starting upto indexx no. 3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
list3[::2]  #2 is like step incerement to get values on index no. 0,2,4,6

['Mango', 'Banana', 'Custard Apple']

In [ ]:
n1=list(range(1,10))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
n1[::4]  #4 is to get index no. values

[1, 5, 9]

In [ ]:
#use of 'in' keyword
'the' in "Netherland"

True

In [ ]:
"The" in "Netherland"

False

In [ ]:
list3.append('Mulberry')
print(list3, end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry', 'Mulberry', 'Mulberry']

In [ ]:
#display fruits which contain 'berry' using for loop 
for fruits in list3:
  if 'berry' in fruits:
    print(fruits)

Strawberry
Mulberry

In [ ]:
for fruits in list3:
  if 'pple' in fruits:
    print(fruits)

Apple
Pineapple
Custard Apple

In [ ]:
list3.append("Black berry")

In [ ]:
#Store the fruits having berry in list4 and all other fruits in list5
list4=[]
list5=[]
for fruits in list3:
  if'berry' in fruits:
    list4.append(fruits)
  else:
    list5.append(fruits)
print(list4, end=" ")
print(list5, end=" ")

['Strawberry', 'Mulberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
#To create a list of squares of numbers from list1
l1=[2,4,6,8,10]
l2=[]
for i in l1:
  l2.append(i*i) #OR l2.append(i**2)
print(l1)
print(l2)

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]

In [ ]:
l1=[1,2,3,4,5]
l2=[i**2 for i in l1]
print(l1)
print(l2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [ ]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]
newlist

['Strawberry']

In [ ]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit]
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
list3.index('Mango')

0

In [ ]:
list3[2]='Orange'
list3

['Mango', 'Apple', 'Orange', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
#Data structure - 2. Tuple
#Immutable, Created using ()
t1=(1,3,64,89,1)
t1

(1, 3, 64, 89, 1)

In [ ]:
type(t1)

tuple

In [ ]:
t1[3]

89

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(1)

2

In [ ]:
t2=t1+(5,7,9,6,5)
t2

(1, 3, 64, 89, 1, 5, 7, 9, 6, 5)

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#Indexing and slicing in Tuple is same as List

In [ ]:
t2[1:5]

(3, 64, 89, 1)

In [1]:
#Data Structure3 3. Dictionary
#In the dictionary we store data using key & value pair
#Created using-{}
#Mutable, ordered, Do not aloow duplicates
capital_dict={"Nepal":'Kathmandu',"Italy":"Rome","England":"London"}
capital_dict

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#access elements from dictionary
capital_dict["England"]

'London'

In [ ]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
capital_dict.values()

dict_values(['Kathmandu', 'Rome', 'London'])

In [ ]:
capital_dict.items()

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [2]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [3]:
capital_dict.update({"Australia":"Sydney"})
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [4]:
#pop method removes and gives you the removed data
capital_dict.pop("Australia")

'Sydney'

In [5]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [6]:
capital_dict['abc']=("Mumbai")
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [7]:
#removes the last data in dictionary
capital_dict.popitem()

('abc', 'Mumbai')

In [8]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [9]:
#Keys can be of different datatypes
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]
mytuple=(20,53,45,78,89,65,97)
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
       }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi'}}

In [12]:
mydict["B"]

(20, 53, 45, 78, 89, 65, 97)

In [13]:
mydict["A"][0]

'Mango'

In [18]:
#Exports math package
from math import sqrt

In [19]:
sqrt(25)

5.0

In [20]:
from math import factorial

In [21]:
factorial(3)

6

In [22]:
from math import *

In [24]:
l6=[5,12,2]
prod(l6)

120

In [25]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math # or 'import math as mt', mt.sqrt(64 )
sequence = (2, 2,5,6) # iterable where elements are given
print(math.prod(sequence))

120

In [26]:
l1=[2,3,4]
prod(l1)

24

In [27]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']